.place__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .place__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 19px;
  }
}
@media screen and (max-width: 620px) {
  .place__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 620px) {
  .place__list {
    padding: 0;
    margin: 0 auto;
  }
}
