.popup__close {
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  padding: 0;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/popup/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.popup__close:hover {
  opacity: 0.6;
}
.popup__close:focus {
  outline: none;
}
@media screen and (max-width: 555px) {
  .popup__close {
    height: 30px;
    width: 30px;
    top: -32px;
    right: -32px;
  }
}
