@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/place/place.css);
@import url(../blocks/card/card.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);

.register__input {
  width: 358px;
  height: 27px;
  margin: 0 0 30px;
  padding: 0 0 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: #cccccc;
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
  outline: none;
}
.register__input::-webkit-input-placeholder {
    color: #cccccc;
}
.register__input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.register__field:last-of-type {
    margin-bottom: 216px;
}
@media screen and (max-width: 555px) {
  .register__input {
    height: 24px;
    padding-bottom: 11px;
    font-size: 12px;
    width: 200px;
  }
}
.register__button {
  width: 358px;
  height: 50px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto 15px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
}
.register__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 555px) {
  .register__button {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }
}
.register{
    max-width: 358px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
}
.register__title{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
}
.register__text{ 
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.link{
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
}
.link:hover{
opacity: 0.6;
}