.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #ffffff;
}
@media screen and (max-width: 555px) {
  .popup__container {
    width: 240px;
    height: 258px;
  }
}
