@import url(./__logo/header__logo.css);
@import url(./__button/header__button.css);
@import url(./__user/header__user.css);
@import url(./__email/header__email.css);
.header {
  display: flex;
  justify-content: space-between;
  min-height: 119px;
  padding-top: 45px;
  margin: 0 auto 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 900px) {
  .header {
    min-height: 84px;
    padding: 28px 27px 0;
    margin-bottom: 42px;
  }
}
